mat-toolbar {
  justify-content: space-between;
}
.content {
  padding: 16px;
}
.content > mat-card {
  margin-bottom: 16px;
}
.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
p {
  font-family: Arial;
}

button {
  margin: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
}

.selected-card {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14),
    0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
mat-slider {
  width: 300px;
}
.car-card {
  max-width: 400px;
}
mat-card {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div.polaroid {
  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}